<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <span id="room_id" style="display:none;">
    <%= id %>
  </span>
  <div id="room_name">部屋名：<%= room_name %>
  </div>
  <% if(master) { %>
    <div>あなたは部屋主です</div>
    <div>部屋に全員が入室したあと、お題を入力して実行してください。</div>
    <div>現在の状態：<span id="status"></span></div>
    <div>人狼の数：<select id='number_of_wolves'>
        <option value='1'>1</option>
        <option value='2'>2</option>
        <option value='3'>3</option>
      </select></div>
    <div id="message"></div>
    <div><input type="button" value="状態更新" id="get_status"></div>
    <div>
      <label>村人用のお題<input type="text" id="person" name="person" placeholder="村人用のお題"></label>
      <label>人狼用のお題<input type="text" id="wolf" name="wolf" placeholder="人狼用のお題"></label>
    </div>
    <div><input type="button" value="実行" id="send" name="send"></div>
    <div>公開用URL：<span id='link'></span></div>
    <% } else { %>
      <div>名前を入力してください。</div>
      <div><label>名前<input type="text" id="user_name" name="user_name" placeholder="名前書いて"></label><span
          id="user_name_display"></span></div>
      <div><input type="button" value="参加" id="join" name="join"></div>
      <div><input type="button" value="ワード取得" id="get_my_word" name="get_my_word"></div>
      <div id="message"></div>
      <div id="link"></div>
      <div id='vote_area'>
        人狼だと思う人を選んでください。
        <select id='vote_select'>
        </select>
        <input type='button' value='投票' id='vote_button' />
      </div>
      <% } %>
</body>
<script src='/js/room.js'>
</script>

</html>